@use "../assets/_resets"
@use "../assets/_variables"


.calculator
  display: grid
  grid-template-columns: 1fr
  
  align-content: center
  

  @media screen and ( min-width: 600px ) 
    grid-template-columns: repeat(2, 1fr)
    gap: 1rem
  
  .consumption, .fuel, .air__travel
    
    grid-template-columns: 1fr
    
    gap: .5rem
    input
      width: 100%
    button
      border: none
      background-color: variables.$color-0
      padding: .5rem
      color: variables.$color-5
      width: 100%
  .box__body
    display: grid
    grid-template-columns: 1fr
    gap: .5rem

    @media screen and ( min-width: 600px )
      grid-template-columns: repeat(2, 1fr)
      
    
    
        
      
