@use "../assets/_resets"
@use "../assets/_variables"
@use "../assets/_mixins"

.calculator
  @include mixins.grid($rows: 1, $columns: 1, $gap: 1rem)

  align-content: center

  @media screen and ( min-width: 600px )
    grid-template-columns: repeat(2, 1fr)

  .consumption, .fuel, .air__travel
    @include mixins.flex(column, .5rem)
    input
      width: 100%
  .air__travel
    
  .fossil
    @media screen and ( min-width: 600px )
      grid-column: span 2
  .box__body
    @include mixins.grid($rows: 1, $columns: 1, $gap: .5rem)

    @media screen and ( min-width: 600px )
      grid-template-columns: repeat(2, 1fr)
  .field
    @include mixins.flex(column, 0)
  .air__travel
    @include mixins.flex(column, .5rem)